$primary-orange: #f65731;
$black: #13162e;
$gray: #5b5d71;
$light-gray: rgba(19, 26, 46, 0.5);

$opacity-on-hover: 0.8;

$primary-gradient: linear-gradient(225deg, #ff6525 0%, #ff8d24 100%);

$normal: 300;
$medium: 500;
$bold: 600;
